<%- include('../partials/header', { title: 'Confirm' }) %>
<section class="container mt-5 text-center">
    <h2>Confirm</h2>
    <p>Confirm your selection</p>
    <%= product.name %> - <%= product.description %> - <%= product.price %>
    <%- include('../partials/buttons', {
        link: `/payment/${product.id}`,
        text: 'Confirm'
     }) %>
</section>
<%- include('../partials/footer') %>


