<%- include('../partials/header', { title: 'Payment' }) %>
<section class="container mt-5 text-center">
    <h2>Pay</h2>
    <p>Pay for product</p>
    <%= product.name %> - <%= product.description %> - <%= product.price %>
    <%- include('../partials/buttons', {
        link: `/receipt/${product.id}`,
        text: 'Pay'
     }) %>
</section>
<%- include('../partials/footer') %>


