<%- include('../partials/header', { title: 'Payment' }) %>
<section class="container mt-5 text-center">
    <h2>Select payment method</h2>
    <%= product.name %> - <%= product.description %> - <%= product.price %>
    <form action="/receipt/<%= product.id %>" method="POST">
        <% payments.forEach((payment)=> { %>
            <div class="form-check text-left m-2">
                <input class="form-check-input" type="radio" name="paymentId" value="<%= payment.id %>">
                    <%= payment.name %>
            </div>
        <% }) %>
        <div>
            <button 
                id="payButton" 
                data-page="<%= page %>" 
                type="submit" 
                class="btn btn-primary mt-3 m-1 w-100">
                Pay
            </button>
        </div>
        <%- include('../partials/cancel-button', { page: page }) %>
    </form>
</section>
<%- include('../partials/footer') %>


