<%- include('../partials/header', { title: 'Products' }) %>
<section class="container mt-5 text-center">
    <h2>Select product</h2>
    <p>Select one product</p>
    <form 
        method="post"
        action="<%= skipConfirmationScreen === true ? '/payment' : '/confirm' %>">
        <% products.forEach((product)=> { %>
            <div class="form-check text-left m-2">
                <input class="form-check-input" type="radio" name="productId" value="<%= product.id %>">
                    <%= product.name %> - <%= product.description %> - <%= product.price %>
            </div>
        <% }) %>
        <div>
            <button             
                id="selectButton" 
                data-page="<%= page %>" 
                type="submit" class="btn btn-primary mt-3 m-1 w-100">
                Select
            </button>
        </div>
        <%- include('../partials/cancel-button', { page: page }) %>
    </form>
</section>
<%- include('../partials/footer') %>


